<!DOCTYPE html>
<html>
  <head>
    <title>Permaapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application.css' %>
    <%= stylesheet_link_tag 'plugins.css' %>
    <%= stylesheet_link_tag 'style.css' %>
    <%= stylesheet_link_tag 'cubeportfolio.min.css' %>
  </head>

  <body>
    
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>

    <% javascript_include_tag 'application.js' %>
    <% javascript_include_tag 'assan.custom.js' %>
    <% javascript_include_tag 'chart.custom.js' %>
    <% javascript_include_tag 'cube-thumb-slider.js' %>
    <% javascript_include_tag 'gmaps-custom.js' %>
    <% javascript_include_tag 'jquery.gmap.min.js' %>
    <% javascript_include_tag 'plugins.js' %>
    <% javascript_include_tag 'jquery.cubeportfolio.min.js' %>
  </body>
</html>
